* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
}
header{
    background: #fff;
    width: 100%;
    padding: 24px 40px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
header .logo{
    font-size: 24px;
    font-weight: bolder;
    color: #000;
    text-decoration: none;
}
header .logo span{
    color: rgb(54, 240, 7);
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 38px;
}
.navbar a{
    position: relative;
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
}
.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: rgb(10, 53, 196);
    transition: width 0.3s ease;
}
.navbar a:hover::after{
    width: 100%;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 26px;
}
.icons a{
    color:rgb(12, 101, 179);
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}
#main-text {
    margin-top: 40px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 6px;
    font-size: 110px;
    font-style: normal;
    font-family: "Jersey 10", sans-serif;
    background: linear-gradient(
        to bottom,
        #2dd62d 0%,
        #d14a4a 50%,
        #2b4cff 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
